Source: genl-packet-module
Section: main
Priority: extra
Maintainer: support <don.newton@intel.com>
Build-Depends: debhelper (>= 8.0.0), bzip2, python3
Standards-Version: 3.9.3

Package: genl-packet-module
Architecture: amd64
Description: genl-packet kernel module 
