Source: genl-packet
Section: unknown
Priority: optional
Maintainer: Andrii Iermolaiev <ai93@cornell.edu>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.1
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/genlpacket
#Vcs-Git: https://salsa.debian.org/debian/genlpacket.git
Rules-Requires-Root: no

Package: genl-packet-sniffer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libnl-3-200, libnl-genl-3-200, libnl-nf-3-200, libnl-route-3-200, libpcap0.8
Description: This application provides the means of listening, recording and outputting genetlink traffic on the switch. You can record the traffic into a file or standard out. Designed for debugging of application using netlink, i.e. pins.

Package: genl-packet-generator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libnl-3-200, libnl-genl-3-200, libnl-nf-3-200, libnl-route-3-200, libpcap0.8
Description: This application provides the means of testing netlink on the switch via sending an example packet or sending packets read from a pcap file. 

Package: genl-packet-so
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Contains the .so files for the receive genetlink library and the sniffer.

Package: genl-packet-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, genl-packet-so
Description: Dev access to the header for the genetlink sniffer and the receive_genetlink library.
