Source: genl-packet
Section: misc
Priority: optional
Maintainer: Don Newton <don.newton@intel.com>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.1

Package:libgenl-packet
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Contains the .so files for the receive genetlink library and the sniffer.

Package: libgenl-packet-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends} 
Description: Dev access to the header for  the libgenl-packet library.
